.event-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  opacity: var(--image-theme-opacity);
}

.event-image-wrapper {
  position: relative;
}

.event-figure {
  padding: 0;
  margin: 0;
}

.event-figcaption {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.event-description-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.event-description {
  grid-column: 1 / 4;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.125rem;
  font-family: Montserrat;
  line-height: 1.33;
}

@media screen and (min-width: 600px) {
  .event-description {
    column-count: 2;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .event-description {
    grid-column: 1 / 3;
  }
}

.event-description p {
  margin-top: 0;
}
