.title {
  padding: 0;
  margin: 0;
  font-size: 3.75rem;
  line-height: 1.0125;
}

.title-light {
  font-weight: 300;
}

.divider {
  width: 100%;
  max-width: 30ch;
  display: inline-block;
  height: 10px;
  background-color: var(--primary-text-color);
  padding: 0;
  margin: 1rem 0 0 0;
  border: none;
}

.subtitle {
  padding: 0;
  margin: 1.5rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 55ch;
  line-height: 1.5;
}
