*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 0 3rem;
}

button:focus {
  outline: none;
}

/* ICONS */
.icon {
  width: 100%;
  height: auto;
}

.icon path,
.icon line,
.icon circle {
  stroke: var(--primary-text-color);
}
