/* Theme */
.theme {
  --primary-text-color-static: var(--gray-dark);
  background-color: var(--foreground);
  transition: background 0.2s ease;
  color: var(--primary-text-color);
  margin: 0;
  padding: 2rem 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-light {
  --foreground: var(--white);
  --primary-text-color: var(--gray-dark);
  --solid: var(--black);
  --title-decorator-color: var(--black-translucent);
  --image-theme-opacity: 1;
  --cta-main: var(--gray-blue);
  --cta-main-text: var(--white);
}

.theme-dark {
  --foreground: var(--gray-darkest);
  --primary-text-color: var(--gray-light);
  --solid: var(--white);
  --title-decorator-color: var(--white-translucent);
  --cta-main: var(--white);
  --cta-main-text: var(--gray-blue);
  --image-theme-opacity: 0.75;
}
