/* Theme */
.theme {
  --primary-text-color-static: #3d3d3d;
  background-color: var(--foreground);
  transition: background 0.2s ease;
  color: var(--primary-text-color);
  margin: 0;
  padding: 2rem 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  --foreground: #fff;
  --primary-text-color: #3d3d3d;
  --title-decorator-color: rgba(0, 0, 0, 0.6);
  --image-theme-opacity: 1;
}

.dark {
  --foreground: #222222;
  --primary-text-color: rgb(223, 223, 223);
  --title-decorator-color: rgba(256, 256, 256, 0.6);
  --image-theme-opacity: 0.75;
}
