.theme-switcher {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: transparent;
  padding: 0;
}

.theme-switcher:hover {
  cursor: pointer;
}

.theme-switcher:focus-visible {
  outline: 2px solid var(--blue);
}

.icon-moon path {
  fill: var(--black);
  transition: all 0.2s ease-in;
}

.theme-switcher:hover .icon-moon-off .moon-shape {
  fill: var(--yellow-translucent);
}

.theme-switcher .icon-moon-on .moon-shape {
  fill: var(--yellow-bright);
}

.icon-moon-on line.star-lg,
.icon-moon-on line.star-sm {
  opacity: 1;
}

.icon-moon .moon-shape {
  fill: transparent;
  transition: all 0.2s ease;
}
